{% extends 'base.html' %}
{% block content %}

<div class="current-page jumbotron">
<h1>Your search result: {{number_result}}</h1>
</div>

<div class="container">
  {# Go through each blog post #}
  {% for post in posts %}
  <div class="card" >
    <div class="card-body">
            <h3>{{ post["pid"] }} 
            <a href="{{ url_for('post.show', pid=post['pid'])}}"> {{post['title']}}</a></h3>

            <h4>Date: {{post['time']}}</h4>

            <p>{{ post['desc'] }}<a href="{{ url_for('post.show', pid=post['pid'])}}">... more</a></p>
    </div>
  </div>
  {% endfor %}
</div>


<div class="container">
  <nav aria-label="Page navigation example">
     <ul class="pagination justify-content-center">
       {% for page_num in index %}
          {% if page_num == current_page %}
          <li class="page-item disabled">
            <a class="page-link" href="{{ url_for('post.search', page=page_num,
            size=size, search_by=search_by, sort=sort, keyword=keyword) }}">{{ page_num }}</a></li>
          
          {% else %}
            <li class="page-item"><a class="page-link" href="{{ url_for('post.search', page=page_num, 
              size=size, search_by=search_by, sort=sort, keyword=keyword) }}">{{ page_num }}</a></li>
          {% endif %}
      {% endfor %}
    </nav>
 </div>


{% endblock %}