
<div mat-dialog-content>
  
  <mat-form-field style="width: 100%">
    <input matInput [(ngModel)]="data.title">
  </mat-form-field>

  <mat-form-field style="width: 100%">
    <textarea rows="10" style="height: 200px!important line-height:40px" 
      matInput 
      [(ngModel)]="data.content">
    </textarea>
  </mat-form-field>
</div>


<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Submit</button>
</div>



