
 <!-- bg-dark -->
<!-- class="form-inline float-right" -->
<form class="header">
<!--     <input class="form-control search-item" name="keyword"
      type="search" placeholder="Search posts"
      [(ngModel)]="keyword"> -->

<!--     <select class="custom-select search-item" name="search_by" 
      id="inputGroupSelect04"
      [(ngModel)]="search_by">
      <option value="" disabled selected>Select your option</option>
      <option value="title" >Title</option>
      <option value="topic">Topic</option>
      <option value="content">Content</option>
    </select> -->

    <mat-form-field class="example-full-width">
        
      <input  matInput name="keyword"
      type="search" placeholder="Search posts"
      [(ngModel)]="keyword">
      </mat-form-field>



    <mat-form-field>
      <mat-label>Search by ...</mat-label>
      <mat-select name="search_by"
                 [(ngModel)]="search_by">
        <mat-option value="title" > Title</mat-option>
        <mat-option value="topic" > Topic</mat-option>
        <mat-option value="content" > Content</mat-option>
      </mat-select>
    </mat-form-field>

 <!--    <select class="custom-select search-item" name="sort" 
      id="inputGroupSelect04" placeholder="Sort by..."
      [(ngModel)]="sort">
      <option value="date">Date</option>
      <option value="title">Title</option>
    </select>
    <button class="btn btn-primary"
      type="submit"
      (click) = "searchClick();"
    >Search</button> -->
  
    <mat-form-field>
      <mat-label>Sort by ...</mat-label>
      <mat-select name="sort" [(ngModel)]="sort">
        <mat-option value="date" > Date</mat-option>
        <mat-option value="title" > Title</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button class="btn btn-primary" type="submit" (click)="searchClick();">Search</button>
</form>

<!-- class="d-inline-block" -->
<!-- style="width: 90%;" -->
<!-- class="d-inline-block col-md-11" -->
<!-- class="row" -->
<!-- mat-raised-button -->
<div class="body">
  <div class="button-create">
    <button (click)="openCreateDialog()"
    class="btn btn-primary">
      Create
    </button>
  </div>


  <div class="body-content">
  	<div *ngFor="let post of results"
    class="body-content-article"
    >
      <div class="body-content-text">
    		<a (click)="goDetail(post.pid)" href="javascript:void(0)">{{post.title}}</a>
        <p style="min-height: 100px;">{{post.content | slice:0:300}} ...</p>
      </div>

      <div class="body-content-buttons">
          <button 
          (click)="openEditDialog(post.pid, post.title, post.content)"
          class="btn btn-primary button-edit" 
          >Edit</button>
          <button mat-raised-button (click)="openDeleteDialog(post.pid)"
          class="btn btn-primary button-delete"
          >Delete</button>
      </div>

  	</div>
  </div>

  <div *ngIf="!display" class="body-process">Loading......</div>

</div>

<div class="footer">
  <div class="footer-pagination">
    <button class="btn btn-primary footer-button" (click)=firstPageClick()>First</button>
    <button class="btn btn-primary footer-button" *ngIf="!previous_page" (click)=prevClick() disabled>Prev</button>
    <button class="btn btn-primary footer-button" *ngIf="previous_page" (click)=prevClick()>Prev</button>
    <button class="btn btn-primary footer-button footer-button-center">
      Page: {{page_num}}/{{page_total}}
    </button>
    <button class="btn btn-primary footer-button" *ngIf="!next_page" (click)=nextClick() disabled>Next</button>
    <button class="btn btn-primary footer-button" *ngIf="next_page" (click)=nextClick()>Next</button>
    <button class="btn btn-primary footer-button" (click)=lastPageClick()>Last</button>
  </div>
</div>
<notifier-container></notifier-container>
