{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="static/basic.css">
<h1 class="current-page" style="text-align: center;">========ACCOUNT========</h1>

<div class="card" style="margin-top:20px;
    margin-right:40px;
    margin-bottom:80px;
    margin-left:160px;">
    <h2>Your current account info: </h2>
	<p>ID: {{ current_user.id }}</p>
	<p>Username: {{ current_user.username }}</p>
	<p>Email: {{ current_user.mail }}</p>
	<p>{{ current_user.avatar }}</p>
</div>

<div class="center-block" style="width:65%; margin: auto;">
	<h2>Update your account: </h2>
	<form method="POST" action="" enctype="multipart/form-data">
		{{ form.hidden_tag() }}
		<div class="form-group">
		  {{ form.name.label(class="form-group") }}
		  {{form.name(class='form-control')}}
		</div>
		<div class="form-group">
		  {{ form.email.label(class="form-group") }}
		  {{form.email(class='form-control')}}
		</div>
		<div class="form-group">
		  {{ form.avatar.label(class="form-group") }}
		  {{form.avatar()}}
		</div>
		<div class="form-group">
		    {{ form.submit(class="btn btn-primary") }}
		</div>
	</form>
</div>

{% endblock %}