{% extends 'base.html' %}
{% block content %}
<h1>========ACCOUNT_fake========</h1>
<p>current name: {{user_fix.username}}</p>
<p>current email: {{user_fix.email}}</p>
<p>current avatar: {{user_fix.avatar}}</p>
<p>test: {{ i_link }}</p>


<img src="{{ url_for('static', filename='profile_pics/' + user_fix.avatar) }}" width="120" height="120">



<form method="POST" action="" enctype="multipart/form-data">
	{{ form.hidden_tag() }}
	{{ form.name.label }} {{ form.name() }}
	{{ form.email.label }} {{ form.email() }}
	{{ form.avatar.label }} {{ form.avatar() }}
	{{ form.submit() }}
</form>
{% endblock %}