{% extends 'base.html' %}
{% block content %}
<p>List of {{ user.username }}'s posts</p>


{% for post in posts.items %}
<h3>Title: <a href="{{ url_for('post.show', post_id=post.id) }}"> {{post.title}}</a></h3>
<h4>Date: {{post.date.strftime('%Y-%m-%d')}}</h4>
<h4>Author: <a href="{{ url_for('user.posts', username=user.username) }}">{{post.author.username}}</a></h4>
<h4>Content: </h4>
<p>{{post.content[:180]}}
	<a href="{{ url_for('post.show', post_id=post.id) }}">... more</a>
</p>

{% if post.author.id == current_user.id %}
<a href="{{ url_for('post.delete', post_id=post.id) }}">Delete post</a>
{% endif %}

<p>-------------------------------------------------</p>
{% endfor %}

<nav>
{% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
<li><a href="{{url_for('user.posts', username=user.username, page=page)}}">{{ pagenum }}</a></li>
{% endfor %}
</nav>



{% endblock %}