{% extends 'base.html' %}
{% block content %}

<div class="current-page jumbotron">
<h1>Your search result:</h1>
</div>

<div class="container">

	{# Go through each blog post #}
	{% for post in post_sorted.items %}
	<div class="card" >
    <div class="card-body">
      <h3>{{ post.id }} <a href="{{ url_for('post.show', post_id=post.id) }}"> {{post.title}}</a></h3>

      <h4>Author: <a href="{{ url_for('user.posts', username=post.author.username) }}">{{post.author.username}}</a></h4>

      <h4>Date: {{post.date.strftime('%Y-%m-%d')}}</h4>

      <p>{{post.desc }} </p>
      <p><a href="{{ url_for('post.show', post_id=post.id) }}">... more</a></p>
    </div>
	{% endfor %}
	</div>
</div>


<div class="container">
	<nav aria-label="Page navigation example">
     <ul class="pagination justify-content-center">
       {% for page_num in post_sorted.iter_pages() %}
          {% if post_sorted.page == page_num %}
          <li class="page-item disabled">
            <a class="page-link" href="{{ url_for('core.index', page=page_num) }}">{{ page_num }}</a></li>
          
          {% else %}
            <li class="page-item"><a class="page-link" href="{{ url_for('core.index', page=page_num) }}">{{ page_num }}</a></li>
          {% endif %}
      {% endfor %}
    </nav>
 </div>
{% endblock %}