<table class="table table-hover">
  <thead>
  <tr>
      <td>Article Title</td>
      <td>Article Path</td>
      <td>Article Pid</td>
      <td colspan="2">Actions</td>
  </tr>
  </thead>

  <tbody>
      <tr *ngFor="let article of articles">
          <td>{{ article.ArticleTitle }}</td>
          <td>{{ article.ArticlePath }}</td>
          <td>{{ article.ArticlePid }}</td>
          <td><a [routerLink]="['/edit', article.ArticlePid]" class="btn btn-primary">Edit</a></td>
          <td><a [routerLink]="['/post', article.ArticlePid]" class="btn btn-primary">Show</a></td>
          <td><a (click) = "deleteArticle(article.ArticlePid)" class="btn btn-danger">Delete</a>
      </tr>
  </tbody>
</table>